@import "../../../../assets/grid/ssi-ui-variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.incident-list {
  width: 100%;
}

.incident-table {
  color: white;
}

.incidents-list-jumbotron {
  color: white;
}

.incidents-list-jumbotron-divider {
  background: white;
}
