<article class="home-root">

  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="../../../assets/images/carousel-img1.jpg" alt="Random first slide" class="carousel-img">
      <div class="carousel-caption">
        <h3>Your Security always first</h3>
        <p>Do not forget!</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../assets/images/carousel-img1.jpg" alt="Random second slide" class="carousel-img">
      <div class="carousel-caption">
        <h3>Prevention is a strategic culture</h3>
        <p>It is a teaching and learning process.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../assets/images/carousel-img1.jpg" alt="Random third slide" class="carousel-img">
      <div class="carousel-caption">
        <h3>Preventive culturel</h3>
        <p>Safe conditions within the work environment.</p>
      </div>
    </ng-template>
  </ngb-carousel>


  <article class="home-container">
    <section class="home-content">
      <div class="home-content-img">
        <img src="../../../assets/images/home-img-security.jpg" class="img-thumbnail" alt="Cinque Terre"
             class="home-content-img-size">
      </div>
      <p class="home-content-text">
      <span class="home-content-title">Vision</span>
      We are a strategic partner in risk prevention for the business sector, offering comprehensive solutions
             in industrial safety and occupational health that allow our clients to improve the quality of working
      life
             of its workers and increase their productivity, through the development and implementation of management
      systems
             and provision of necessary elements to complement the culture of safety through care
             personalized and reliable, having as main value the expertise and qualification of our team of
             work.
      </p>
    </section>

    <section class="home-content">
      <p class="home-content-text">
      <span class="home-content-title">Mission</span>
      Be the first option for the business sector in the region in integral solutions in Industrial Safety and Health
           Occupational, being recognized by the professionalism of our human work team and the quality of our
           products, as well as our contribution to the generation of safe, healthy and productive work environments.
      </p>
      <div class="home-content-img">
        <img src="../../../assets/images/home-img-security-mission.jpg" class="img-thumbnail" alt="Cinque Terre"
             class="home-content-img-size">
      </div>
    </section>

    <section>

    </section>

  </article>

  <router-outlet></router-outlet>

</article>
