:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 70%;
}

.organization-api {
  display: flex;
  height: 100%;
  overflow-y: auto;

  border-top: 1px solid #e3e9ea;
}

.organization-api-content {
  width: 100%;

  padding: 20px;
}
