@import "../../../../assets/grid/ssi-flexbox";
.nav-container {
  width: 100%;
}

.nav-container .nav-list,
.nav-container .nav-item {
  margin: 0;
  padding: 0;
  background-color: #20272a;
  cursor: pointer;
}

.nav-container .nav-list {
  list-style: none;
  width: 100%;

}

.nav-container .nav-item {
  float: left;
  position: relative;
  width: auto;

}

.nav-container .nav-link {
  display: block;
  font: bold 15px sans-serif;
  padding: 15px 25px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #20272a;;
  color: #ffffff;

  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;

  @include ssi-cross-center();
  @include ssi-main-center();
}

.nav-container .nav-item:hover .nav-link {
  color: #5882FA;
}

.nav-submenu {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 35px;
  visibility: hidden;
  z-index: 1;
}

.nav-item:hover .nav-list.nav-submenu {
  opacity: 0.8;
  top: 40px;
  visibility: visible;

}

.nav-submenu .nav-item {
  float: none;
  width: 100%;
}

.nav-container .nav-submenu .nav-link:hover {
  background: #5882FA;
  color: #ffffff;
}

.nav-submenu .nav-link {
  width: 200px;
  padding: 20px;

  background-color: #20272a;;
  color: white;

  @include ssi-cross-center();
}

