<nav class="nav-container">
  <ul class="nav-list">
    <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="">About Me</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="#">Organization chart</a>
      <ul class="nav-list nav-submenu">
        <li class="nav-item"><a class="nav-link" routerLink="organization/department">Departments</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="organization/position">Positions</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="#">Employees</a></li>
      </ul>
    </li>
    <li class="nav-item"><a class="nav-link" routerLink="#">Security</a>
      <ul class="nav-list nav-submenu">
        <li class="nav-item"><a class="nav-link" routerLink="#">Security equipments</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="#">Security policies and regulations</a></li>
      </ul>
    </li>
    <li class="nav-item"><a class="nav-link" routerLink="/incident">Incidents</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="#">Contact Us</a></li>
  </ul>
</nav>
